# Node modules
/node_modules
node_modules/

#env
.env

# Compilation output
/dist
build/

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat Project dictory
contracts/
dapp/
ignition/
scripts/



# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# submodules
/lib
